.idea/ merge=ours export-ignore
.idea/.name   merge=ours
.idea/misc.xml   merge=ours
.idea/vcs.xml   merge=ours
.idea/modules.xml   merge=ours
.idea/workspace.xml   merge=ours
.idea/crams_provision.iml merge=ours