python-dateutil==2.4.2
python-ceilometerclient==2.1.0
python-cinderclient==1.5.0
python-heatclient==0.8.0
python-keystoneclient==2.0.0
python-neutronclient==3.1.0
python-novaclient==2.35.0
python-saharaclient==0.11.1
python-swiftclient==2.6.0
python-troveclient==1.4.0
simplejson==3.8.1
urllib3==1.14