"""
CRAMS NeCTAR Provisioning local settings to override some of default settings

"""

# CRAMS api server
CRAMS_SERVER_BASE = 'http://localhost:8000'
CRAMS_AUTH_API_PATH = 'json_token_auth'
CRAMS_PROVISION_API_PATH = 'api/v1/provision_project/list'
CRAMS_PROVISION_UPDATE_PATH = 'api/v1/provision_project/update'

# --- OPENSTACK Keystone configurations ---
OS_AUTH_URL = 'http://localhost:5000/v3/'
OS_PROJECT_NAME = 'merc_test_project'
OS_USERNAME = 'keystone_admin'
OS_PASSWORD = 'keystone_admin_password'
OS_DOMAIN = 'default'

# --- CRAMS RC Provisioning Logging ---
# logging directory
PROVISION_LOG_DIR = '/var/log/cramsclient-nectar'

LOGGING_CONF = {
    "version": 1,
    "disable_existing_loggers": False,
    "formatters": {
        "simple": {
            "format": "%(asctime)s - %(levelname)s - %(name)s - %(message)s"
        }
    },

    "handlers": {
        "console": {
            "class": "logging.StreamHandler",
            "level": "INFO",
            "formatter": "simple",
            "stream": "ext://sys.stdout"
        },

        "info_file_handler": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "INFO",
            "formatter": "simple",
            "filename": PROVISION_LOG_DIR + "/provision.log",
            'maxBytes': 1024 * 1024 * 10,
            "backupCount": 5,
            "encoding": "utf8"
        },

        "error_file_handler": {
            "class": "logging.handlers.RotatingFileHandler",
            "level": "ERROR",
            "formatter": "simple",
            "filename": PROVISION_LOG_DIR + "/provision_errors.log",
            'maxBytes': 1024 * 1024 * 10,
            "backupCount": 5,
            "encoding": "utf8"
        }
    },

    "loggers": {
        "crams_provision": {
            "level": "INFO",
            "handlers": ["console", "info_file_handler", "error_file_handler"],
            "propagate": False
        }
    },

    "root": {
        "level": "INFO",
        "handlers": ["console", "info_file_handler", "error_file_handler"]
    }
}